.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent; /* Fondo transparente */
    
    img {
      width: 150px;  /* Ajusta el tamaño del SVG según lo que necesites */
      height: 150px;
    }
  }
  