<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test MetaG - SDK 3.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="center">
      <ion-item>
        <ion-input #DpiInput label="DPI" placeholder="Ingrese DPI"  maxlength="13"
        [value]="dpiModel"
        (ionInput)="onInput($event)"
        ></ion-input>
      </ion-item>    
    </div>
    
    <ion-button (click)="openSDK()">Abrir MetaG</ion-button>
    <ion-button (click)="openAcuerdoVideo()">Abrir Acuerdo</ion-button>
    <br/>
    <ion-button (click)="openTTS()">Abrir TTS</ion-button>
    <ion-button (click)="openVideoSelfie()">Abrir simple acuerdo</ion-button>
    <br/>
    <ion-button (click)="openCamara()">Abrir test camara</ion-button>
    <div [ngClass]="isSuccess === null ? 'resultPending' : isSuccess ? 'resultTrue' : 'resultFalse'" [style]="'padding-top: 30px; padding-bottom: 30px'">
      <div *ngIf="isSuccess === true">
        <p>
          Proceso realizado exitosamente
        </p>
      </div>
      <div *ngIf="isSuccess === false">
        <p>
          Ocurrió un error al realizar el proceso
        </p>
      </div>
      <div *ngIf="isSuccess === null">
        <p>
          Esperando resultado...
        </p>
      </div>
    </div>
  </div>
</ion-content>
